<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
    
      <header>
        <h2 class="main-h2">Edit Child</h2> 
      </header>    
      
      <div class="btn-group block" role="group" aria-label="...">
          <%= link_to "All Children", children_path, :class => "btn btn-dark ass-button" %>
          <%= link_to "Home", root_path, :class => "btn btn-outline-dark ass-button" %>
      </div>
      <%= flash[:notice] %>

      <%= form_for @child do |f| %>
        <% if @child.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% @child.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <b><%= f.label :child_name %>:</b><br />
          <%= f.text_field :child_name, class: "form-control" %>
        </div>
        <br>
        <div class="field">
            <b><%= f.label :birthday %>:</b><br>
            <%= f.date_field :birthday, class: "form-control"  %>
        </div>
        <div class="field">
            <b><%= f.label :grade_level %>:</b><br>
                <%= f.select(:grade_level, ([["Select Grade Level",""], ["Pre-K","Pre-K"], ["Kindergarten","Kindergarten"], ['1st',"1"], ['2nd',"2"], ["3rd","3"], ["4th","4"]])) %>
        </div>

        <p>
          <div class="actions"><%= f.submit "Save", class: "btn btn-secondary btn-block" %></div>
          <%= link_to child_path(@child), method: :delete, data: {confirm: 'Are you sure you want to delete this Child?  All records associated with them will also be deleted.'}, class: "btn btn-primary btn-block delete-btn" do %><i class="fa fa-trash" aria-hidden="true"></i> Delete Child<% end %>
        </p>
      <% end %>
      
    </div>
  </div>
</div>