<div class="container center">
    <% if @children.where({user_id: session[:user_id]}) != [] %>
    <header>
        <h2 class="main-h2">Children</h2>
    </header>

    <div class="btn-group block" role="group" aria-label="...">
        <%= link_to "Add New", new_child_path, :class => "btn btn-dark ass-button" %>
        <%= link_to "Home", root_path, :class => "btn btn-outline-dark ass-button" %>
    </div>

    <header>
        <h3><%= flash[:notice] %></h3>
    </header>

        <% @children.where({user_id: session[:user_id]}).each do |child|%>
            <div class="row">
                <div class="card-block col-md child-card">
                    <div class="card-block">
                        <h4 class="card-title kid-font"> <%= child[:child_name]%> </h4>
                        <% if child[:birthday].blank? %>
                            <p class="card-text"><b>Birthday:</b> n/a </p>
                        <% else %>
                            <p class="card-text"><b>Birthday:</b> <%= child[:birthday].strftime( '%m/%d/%Y' ) %> </p>
                        <% end %>
                        <p class="card-text"><b>Grade:</b> <%= child[:grade_level] %> </p>
                    </div>
                    <%= link_to 'Edit Child', edit_child_path(child.id), {:class => "btn btn-secondary btn-block"}  %>
                    <hr>
                </div>
            </div>
        <% end %>
    <% else %>
        <h2>No children added yet!</h2>
        <%= link_to 'Add a Child', new_child_path, {:class => "btn btn-dark btn-block"}  %>
    <% end %>
</div>