<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">

        <header>
            <h2 class="main-h2">New Assignment</h2>
        </header>

        <div class="btn-group block" role="group" aria-label="...">
            <%= link_to "Back", assignments_path, :class => "btn btn-dark ass-button" %>
            <%= link_to "Home", root_path, :class => "btn btn-outline-dark ass-button" %>
        </div>

        <%= form_with scope: :assignment, url: assignments_path, local: true, html: { multipart: true } do |form| %>
            <%= form.hidden_field :user_id, :value => session[:user_id] %>
            <p>
            <%= form.label :title %><br>
            <%= form.text_field :title, class: "form-control"  %>
            </p>

            <p>
            <%= form.select(:child_id, include_blank: true) do %>
                <%= content_tag(:option, "Select a Child", value: "") %>
                <% Child.all.each do |c| -%>
                <%= content_tag(:option, c.child_name, value: c.id) %>
                <% end %>
            <% end %>
            </p>

            <p>
            <%= form.label :due_date %><br>
            <%= form.date_field :due_date, class: "form-control"  %>
            </p>

            <p>
            <%= form.label "Scan" %><br>
            <%= form.file_field :avatar %>
            </p>

            <p>
                <%= form.hidden_field :content %>
            </p>
            <p>
            <%=  form.submit "Save", {class: "btn btn-success btn-block", id:"new-assignment-btn",  "data-toggle" => "modal", "data-target" => "#new-assignment-progress"} %>
            </p>
        <% end %>

    </div>
  </div>
</div>

<div class="modal fade" id="new-assignment-progress" tabindex="-1" role="dialog" aria-labelledby="new-assignment-progressLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-assignment-progressLabel">Kidstuff is reading your document...</h5>
      </div>
      <div class="modal-body">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>