<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <header>
          <h2 class="main-h2">Assignment</h2>
        </header>

        <div class="btn-group block" role="group" aria-label="...">
            <%= link_to "Back", assignments_path, :class => "btn btn-dark ass-button" %>
            <%= link_to "Home", root_path, :class => "btn btn-outline-dark ass-button" %>
        </div>

        <p><b>Title:</b> <%= @assignment.title %></p>
        <p><b>Child:</b> <%= @assignment.child_id %></p>
        <p><b>Due Date:</b> <%= @assignment.due_date%></p>
        <%= image_tag @assignment.avatar.url(:original), class: "img-fluid" %><br>

        <div class="btn-group block" role="group" aria-label="...">
            <%= link_to 'Edit Assignment', edit_assignment_path, :class => "btn btn-primary ass-button"  %>
            <%= link_to 'Email PDF', send_assignment_path(@assignment), :class => "btn btn-outline-primary ass-button"  %>
        </div>
    </div>
  </div>
</div>