<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <header>
        <h2 class="main-h2">Edit Artwork</h2> 
      </header>    
      
      <div class="btn-group block" role="group" aria-label="...">
          <%= link_to "Back", artwork_path(@artwork), :class => "btn btn-dark ass-button" %>
          <%= link_to "Home", root_path, :class => "btn btn-outline-dark ass-button" %>
      </div>

      <%= flash[:notice] %>

      <br><%= image_tag @artwork.avatar.url(:original), class: "img-fluid" %><br><br>

      <%= form_for @artwork do |f| %>
        <% if @artwork.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% @artwork.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <b><%= f.label :title %>:</b><br />
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <br>

        <div class="field">
            <%= f.select(:child_id, content_tag(:option,'Select Child', :value=>"")+ options_from_collection_for_select(@children, 'id', 'child_name', @artwork.child_id))  %>
        </div>
        <br>
        <p>
            <b><%= f.label :date %>:</b><br>
            <%= f.date_field :date, class: "form-control"  %>
        </p>

        <p>
          <div class="actions"><%= f.submit "Save", class: "btn btn-secondary btn-block" %></div>
          <%= link_to artwork_path(@artwork), method: :delete, data: {confirm: 'Are you sure you want to delete this Artwork?'}, class: "btn btn-primary btn-block delete-btn" do %><i class="fa fa-trash" aria-hidden="true"></i> Delete Artwork<%end%>

        </p>
        
      <% end %>
      
    </div>
  </div>
</div>