<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <header>
        <h2 class="main-h2">Send a JPG</h2>
      </header>

      <div class="btn-group block" role="group" aria-label="...">
          <%= link_to "Back", artwork_path(@artwork), :class => "btn btn-dark ass-button" %>
          <%= link_to "Home", root_path, :class => "btn btn-outline-dark ass-button" %>
      </div>
        
        <p><b>Title:</b> <%= @artwork.title %></p>
        <p><b>Child:</b> <%= @child %></p>
        <p><b>Date:</b> <%= @parsed_date%></p>
    

        <%= form_with scope: :artwork, url: 'mail_it', local: true, html: { multipart: true } do |form| %>
      
            <%= image_tag @artwork.avatar.url(:sm) %><br>

            <header>         
              <h5 class="flash-h5 red"><%= flash[:notice] %></h5>
            </header>
            
            <p>
            <%= form.label :email %><br>
            <%= form.text_field :email, class: "form-control"  %>
            </p>

            <%= form.hidden_field :title, :value => @artwork.title %>
            <%= form.hidden_field :child, :value => @child %>            
            <%= form.hidden_field :date, :value => @parsed_date %>
            <%= form.hidden_field :attachment_id, :value => @artwork.id %>
            
            <%=  form.submit "Send", class: "btn btn-success btn-block" %>
        
      <% end %>
    </div>
  </div>
</div>