<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <header>
          <h2 class="main-h2">Artwork</h2>
        </header>

        <div class="btn-group block" role="group" aria-label="...">
            <%= link_to "Back", artworks_path, :class => "btn btn-dark ass-button" %>
            <%= link_to "Home", root_path, :class => "btn btn-outline-dark ass-button" %>
        </div>

        <p><b>Title:</b> <%= @artwork.title %></p>
        <p><b>Child:</b> <%= @child %></p>
        <p><b>Date:</b> <%= @parsed_date%></p>
        <%= image_tag @artwork.avatar.url(:original), class: "img-fluid" %><br>

        <div class="btn-group block" role="group" aria-label="...">
            <%= link_to 'Edit', edit_artwork_path, :class => "btn btn-primary ass-button"  %>
            <%= link_to 'Email JPG', send_art_path(@artwork), :class => "btn btn-warning ass-button"  %>
        </div>
    </div>
  </div>
</div>