<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
    
      <header>
        <h2 class="main-h2">Edit User Name</h2>
      </header>
      

      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :user_name %><br />
          <%= f.text_field :user_name, class: "form-control" %>
        </div>
        <br>
        <p>Email: <%= @user.email %></p>

        <p>
          <div class="actions"><%= f.submit "Save", class: "btn btn-success btn-block" %></div>
        </p>
      <% end %>
    </div>
  </div>
</div>