<% if logged_in? %>
    
    <div class="container container-center">

        <header>
            <h1 class="main-h2">Kid Stuff!</h1>
        </header>
        <header>        
            <%= flash[:notice] %>
        </header>
        <div class="button-container">
            <%= link_to 'Art', artworks_path, {:class => "btn btn-dark btn-block home-btn kid-font"}  %>
            <%= link_to 'Homework', assignments_path, {:class => "btn btn-dark btn-block home-btn kid-font"}  %>
            <%= link_to 'Activities', activities_path, {:class => "btn btn-dark btn-block home-btn kid-font"}  %>
        </div>

    </div>

<% else %>

    <div class="container container-center">
        <header>
            <h2 class="main-h2">Welcome to Kid Stuff!</h2>
        </header>
        <header>
            <%= flash[:notice] %>
        </header>
        <div class="button-container-2">
            <%= link_to 'Login', login_path, {:class => "btn btn-dark btn-block home-btn kid-font"}  %>
            <header>
                <h2 class="main-h2">-OR-</h2>
            </header>
            <%= link_to 'Sign Up', signup_path, {:class => "btn btn-dark btn-block home-btn kid-font"}  %>
        </div>
    </div>

<% end %>