<% if logged_in? %>
    
    <div class="container container-center">
        <h2>Kid Stuff Home</h2>
        <%= flash[:notice] %>
        <%= link_to 'Art', root_path, {:class => "btn btn-dark btn-block"}  %>
        <%= link_to 'Homework', root_path, {:class => "btn btn-dark btn-block"}  %>
        <%= link_to 'Activities', root_path, {:class => "btn btn-dark btn-block"}  %>
    </div>

<% else %>

    <div class="container container-center">
        <h2>Welcome to Kid Stuff!</h2>
        <%= flash[:notice] %>
        <%= link_to 'Login', login_path, {:class => "btn btn-dark btn-block"}  %>
        <%= link_to 'Sign Up', signup_path, {:class => "btn btn-dark btn-block"}  %>
    </div>

<% end %>