<h2>You've recieved an Assignment from <%= @user_email %>!</h2>
<h3>Sent by <span style="text-decoration: underline;"><%= @user_name %></span> via <a href="https://kidstuffapp.herokuapp.com/">Kid Stuff App</a>.</h3>
  <p><b>Title:</b> <span style="text-decoration: underline;"><%= @title %></span></p>
  <p><b>Child:</b> <%= @child %></p>
  <p><b>Due Date:</b> <%= @due_date %></p>
  <p><b>Content:</b></p>
  <p style="background-color: #e8e8e8; padding: 1em; border-radius: 10px;"> <%= @content %> </p>
  <p style="font-size: .75em;"><b>If you believe you've received this message in error, you are probably correct.</b></p>