<% @activities.where({user_id: session[:user_id]}).each do |activity|%>
    
        <div class="col-xs-6">
            <div class="card">
                <% if activity[:title].blank?%>
                    <h5 class="card-title">No Title</h5>
                <% else %>
                    <h5 class="card-title"><%= activity[:title]%></h5>                
                <% end %>

                <% if (activity[:child_id].blank? ) %>
                   <p class="card-text"><b>Child: </b>n/a</p>
                <% else %>
                    <p class="card-text"><b>Child: </b><%= Child.where(id: activity[:child_id])[0].child_name%></p>
                <%end%>

                <% if (activity[:date].blank? ) %>
                    <p class="card-text"><b>Date: </b>n/a</p>
                <% else %>
                    <p class="card-text"><b>Date:</b> <%= activity[:date].strftime( '%m/%d/%Y' ) %> </p>
                <%end%>
                
                <% if (activity[:time].blank? ) %>
                    <p class="card-text"><b>Time: </b>n/a </p>
                <% else %>
                    <p class="card-text"><b>Time:</b> <%= activity[:time].strftime( '%l:%M%p' ) %> </p>
                <%end%>

                <%= link_to (image_tag activity.avatar.url(:sm), class: "img-fluid"), activity_path(activity) %><br>
            </div>
            
        </div>
    
<% end %>