<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">

        <header>
            <h2 class="main-h2">New Activity</h2>
        </header>

        <div class="btn-group block" role="group" aria-label="...">
            <%= link_to "Back", activities_path, :class => "btn btn-dark ass-button" %>
            <%= link_to "Home", root_path, :class => "btn btn-outline-dark ass-button" %>
        </div>

        <%= form_with scope: :activity, url: activities_path, local: true, html: { multipart: true } do |form| %>

            <% if @activity.errors.any? %>
              <div class="error_messages">
                <h3>Form is invalid</h3>
                <ul>
                  <% @activity.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= form.hidden_field :user_id, :value => session[:user_id] %>
            <p>
            <%= form.label :title %><br>
            <%= form.text_field :title, class: "form-control"  %>
            </p>

            <p>
            <%= form.select(:child_id, include_blank: true) do %>
                <%= content_tag(:option, "Select a Child", value: "") %>
                <% Child.all.each do |c| -%>
                <%= content_tag(:option, c.child_name, value: c.id) %>
                <% end %>
            <% end %>
            </p>

            <p>
            <%= form.label :date %><br>
            <%= form.date_field :date, class: "form-control"  %>
            </p>

            <p>
            <%= form.label :time %><br>
            <%= form.time_field :time, class: "form-control"  %>
            </p>

            <p>
            <%= form.label "Scan" %><br>
            <%= form.file_field :avatar %>
            </p>

            <p>
                <%= form.hidden_field :content %>
            </p>
            <p>
                <%=  form.submit "Save", href:"#new-activity-progress", class: "btn btn-secondary btn-block clickable", id:"new-activity-btn",  "data-toggle" => "modal" %>
            </p>
        <% end %>

    </div>
  </div>
</div>

<!-- progress modal for display during uploads -->
<div class="modal" id="new-activity-progress" tabindex="-1" role="dialog" aria-labelledby="new-activity-progressLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-activity-progressLabel">Kidstuff is reading your document...</h5>
      </div>
      <div class="modal-body">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>