<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <header>
        <h2 class="main-h2">Send a PDF</h2>
      </header>

      <div class="btn-group block" role="group" aria-label="...">
          <%= link_to "Back", activity_path(@activity), :class => "btn btn-dark ass-button" %>
          <%= link_to "Home", root_path, :class => "btn btn-outline-dark ass-button" %>
      </div>
        
        <p><b>Title:</b> <%= @title %></p>
        <p><b>Child:</b> <%= @child %></p>
        <p><b>Date:</b> <%= @parsed_date %></p>
        <p><b>Time:</b> <%= @parsed_time %></p>

        <%= form_with scope: :activity, url: 'mail_it', local: true, html: { multipart: true } do |form| %>
      
            <%= image_tag @activity.avatar.url(:sm) %><br>

            <header>         
              <h5 class="flash-h5 red"><%= flash[:notice] %></h5>
            </header>

            <p>
            <%= form.label :email %><br>
            <%= form.text_field :email, class: "form-control"  %>
            </p>

            <%= form.hidden_field :title, :value => @title %>
            <%= form.hidden_field :child, :value => @child %>
            <%= form.hidden_field :content, :value => @activity.content %>
            <%= form.hidden_field :date, :value => @parsed_date %>
            <%= form.hidden_field :time, :value => @parsed_time %>
            <%= form.hidden_field :attachment_id, :value => @activity.id %>
            
            <%=  form.submit "Send", class: "btn btn-secondary btn-block" %>
        
      <% end %>
    </div>
  </div>
</div>