<h1>You recieved an Activity from Kid Stuff!</h1>
  <h2><%= @title %></h2>
  <%= @child %>
  <%= @date %>
  <%= @time %>
  <%= @content %>
  <p>If you believe you've received this message in error, you are probably correct.</p>